{% extends 'layout.html' %}

{% block body %}
<div class="container">
  <form action="{% url 'account:forget_password %}" method="post">
    {% csrf_token %}
    <h1 class="mb-3 text-center">
      Forget Password
    </h1>
    <div class="mb-3">
      <label for="email" class="form-label">
        Email
      </label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
    </div>
    <button type="submit" class="btn btn-success w-100 mt-3">Reset Password</button>
  </form>
</div>
{% endblock %}
